html {}

head {}

body {}

article {}

footer {}

h1 {}

p {}

#title {
	width: 300px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

#video-player {}

#video {}

#video-controls {}

#play-pause {}

#seek-bar {}

#mute {}

#volume-bar {}

#full-screen {}