html {}

head {}

body {}

#footer {
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-around;
	background-color: red;
}

h1 {}

p {}


#title {
	
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
	background-color: red;
}

#about {
	width: 100px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

#aboutus {
	background-color: #CCCCCC;
}

#video-player {
	position: relative;
}

#video {}

#video-controls {
	position: absolute;
	bottom: 7px;
	height: 7%;
	width: 100%;
}

#play-pause {
	float: left;
	margin-right: 3%;
	margin-left: 2%
}

#seek-bar {
	width: 55%;
	float: left;
}

#mute {
	float: right;
}

#volume-bar {
	width: 15%;
	margin-right: 0px;
	margin-left: 2%;
	float: right;
}

#full-screen {
	float: right;
	margin-right: 2%;
	margin-left: 2%;
}

#description {
	background-color: #CCCCCC;
}

#videolist {
	background-color: #CCCCCC;
	margin-top: 30px;
}