html {}

head {}

body {}

#footer {
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	background-color: red;
}

h1 {}

p {}


#title {
	
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
	background-color: red;
}

#about {
	width: 100px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

#aboutus {
	background-color: #CCCCCC;
}

#video-player {
	position: relative;
}

#video {}

#video-controls {
	position: absolute;
	bottom: 5px;
}

#play-pause {}

#seek-bar {}

#mute {}

#volume-bar {}

#full-screen {
}

#description {
	background-color: #CCCCCC;
}

#videolist {
	background-color: #CCCCCC;
	margin-top: 30px;
}